<template>
	<h4>
		<span class="line"></span>
		<span v-text="text"></span>
		<span class="line"></span>
	</h4>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class CompendiumHeader extends Vue {
	@Prop() readonly text!: string;
}
</script>

<style scoped lang="scss">
h4 {
	display: grid;
	grid-template-columns: auto min-content auto;
	grid-gap: 1ch;

	white-space: nowrap;
}

.line {
	position: relative;
	top: -0.75em;
	border-bottom: 1px solid map-get($light-blue, 'base');
}
</style>
