<template>
	<v-container class="text-center">
		<h2>About</h2>
		<p>
			From the right perspective, every dish you can make in <em>Breath of the Wild</em> is something tasty. But you're
			tastes and cravings shift and move. One day <em>Wheat Bread</em> might be the best thing in the world, the next
			day <em>Crab Risotto</em>, or <em>Hearty Salt-Grilled Prime Meat</em>, or <em>Veggie Cream Soup</em>. The point
			is, as you wander aimlessly across plains and mounts, sometimes you just want to eat good food.
		</p>
		<p>
			This is a guide about good food. It's about satisfying a craving. This is not a rigourous guide to stats and
			min/maxing.
		</p>

		<h2 class="headline mb-3">Inspiration</h2>
		<p class="mb-6">
			Of course I had my own original vision, and these are close but not quite.
			<br />
			Invariably, they given me some ideas that I can't unsee.
		</p>

		<p>
			<a href="https://www.guideofthewild.com/cook" target="credits">Guide of the Wild</a>
		</p>
		<p>
			<a href="http://botw-recipes.com" target="credits">Breath of the Wild Recipes</a>
		</p>
		<p>
			<a href="https://spinnytea.bitbucket.io/fantasy_life" target="credits">Fantasy Life</a>
			- a previous project of mine.
		</p>

		<h2 class="headline mb-3 mt-12">Data</h2>
		<p class="mb-6">
			There are a ton of recipes, and images, and locations, and I would have never done this if I couldn't have
			data-mined my info. Only some of it is entered by my hand in situations where the data was splotchy.
		</p>

		<p>
			<a
				href="https://www.ign.com/wikis/the-legend-of-zelda-breath-of-the-wild/All_Recipes_and_Cookbook"
				target="credits"
			>
				IGN: All Recipes
			</a>
		</p>
		<p>
			<a href="http://orcz.com/Breath_of_the_Wild:_Recipes" target="credits">
				ORCZ: Recipe
			</a>
		</p>
		<p>
			<a href="https://zelda.fandom.com/wiki/Category:Dishes" target="credits">
				Zelda Fandom: Dishes
			</a>
		</p>
		<p>
			<a href="https://zelda.fandom.com/wiki/Category:Cooking_Ingredients" target="credits">
				Zelda Fandom: Cooking Ingredients
			</a>
		</p>
		<p>
			<strong>Images</strong>
			- I tried to find good images across the internet, but they only good/complete/reliable ones I could find <br />
			were from <a href="https://www.guideofthewild.com/cook" target="credits">Guide of the Wild</a> and
			<a href="http://botw-recipes.com" target="credits">Breath of the Wild Recipes</a>.
		</p>
		<p>
			<strong>Calamity Sans</strong>
			- I've had it for a while, not sure where I got it. Probably
			<a href="https://www.reddit.com/r/zelda/comments/5txuba/breath_of_the_wild_ui_font/" target="credits">reddit</a>.
		</p>
		<p>
			<a href="https://zeldauniverse.net/media/fonts/" target="credits">
				Hylia Serif
			</a>
		</p>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Credits extends Vue {}
</script>
