<template>
	<v-container fluid class="text-center">
		<h2 class="headline mb-4">Food</h2>

		<div class="foods">
			<table>
				<thead>
					<tr>
						<th></th>
						<th><v-text-field class="pa-0" label="Name" v-model="filters.name" hide-details></v-text-field></th>
						<th>
							<v-select
								class="pa-0"
								label="Effect"
								:items="effects"
								v-model="filters.effect"
								clearable
								hide-details
							></v-select>
						</th>
						<th>Potency</th>
						<th>Duration</th>
						<th>Hearts</th>
						<th>Found</th>
					</tr>
				</thead>
				<tbody>
					<tr
						class="food"
						v-for="f in food"
						:key="f.name"
						v-on:click="selectFood(f)"
						:class="{ active: selectedFood === f }"
					>
						<template v-if="selectedFood !== f">
							<td><LocalImage :obj="f" /></td>
							<td v-text="f.name"></td>
							<td v-text="f.effect.name"></td>
							<td v-text="f.potency"></td>
							<td v-text="f.duration"></td>
							<td v-text="f.hearts"></td>
							<td><div v-for="found in f.found" :key="found" v-text="found"></div></td>
						</template>
						<template v-else>
							<td colspan="7">
								<div class="compendium">
									<h3 v-text="f.number + ' ' + f.name"></h3>
									<span><!-- ignore --></span>
									<LocalImage class="ingredient-image" :obj="f" />
									<div>
										<CompendiumHeader text="Common Locations" />
										<p class="text-left" v-text="f.found.join('\n')"></p>

										<CompendiumHeader text="Cooking Effects" />
										<p class="d-flex align-center justify-center">
											<LocalImage v-if="f.effect.localImage" :obj="f.effect" />
											<span v-text="f.effect.description"></span>
										</p>
									</div>
									<div>
										<CompendiumHeader text="Duration" />
										<p v-text="f.duration"></p>
									</div>
									<div>
										<CompendiumHeader text="Potency" />
										<p v-text="f.potency"></p>
									</div>
								</div>
							</td>
						</template>
					</tr>
				</tbody>
			</table>
		</div>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CompendiumHeader from './CompendiumHeader.vue';
import LocalImage from './LocalImage.vue';
import { foodList, effectsList } from '../database';
import Food from '../data-classes/Food';
import { orderBy } from 'lodash';

const filters: {
	name: string;
	effect: string;
} = {
	name: '',
	effect: '',
};

@Component({
	components: {
		CompendiumHeader,
		LocalImage,
	},
})
export default class Reference extends Vue {
	filters = filters;

	get effects() {
		return effectsList.map(e => e.name).sort();
	}

	get food() {
		let list = orderBy(foodList, 'number', 'asc');

		if (this.filters.name) {
			list = orderBy(
				list.filter(f => f.name.toLowerCase().includes(this.filters.name.toLowerCase())),
				'name',
				'asc',
			);
		}
		if (this.filters.effect) {
			list = orderBy(
				list.filter(f => f.effect.name === this.filters.effect),
				'potency',
				'desc',
			);
		}

		return list;
	}

	selectedFood: Food | null = null;
	selectFood(food: Food) {
		if (this.selectedFood === food) this.selectedFood = null;
		else this.selectedFood = food;
	}
}
</script>

<style scoped lang="scss">
.foods {
	table {
		width: 100%;
		border-collapse: collapse;
		position: relative;
		th {
			position: sticky;
			top: 0;
			background-color: map-get($material-dark, 'background'); /* occlude the table content */
			z-index: 1; /* occlude the images */
		}
		th,
		td {
			padding: 0.5em 1ch;
		}

		// the first one is the image col, and we want it as small as possible
		// there are 5 other cols
		// the middle 4 are 1fr; the last column is 2fr
		th:not(:first-child):not(:last-child) {
			width: calc(100% / 7);
		}
		th:last-child {
			width: calc(100% / 7 * 2);
		}

		.food {
			cursor: pointer;
		}
		tr.food:not(:active) {
			white-space: pre-line;

			.local-image {
				width: 4em;
				height: 4em;
			}
		}
		tr.food.active {
			background-color: rgba(map-get($blue, 'base'), 0.24); // tabs select hover color
			color: map-get($light-blue, 'lighten-3');

			.compendium {
				display: grid;
				grid-template-columns: min-content auto;
				grid-column-gap: 2ch;
				margin: 0 10%;

				.local-image.ingredient-image {
					border: 1px solid map-get($light-blue, 'base');

					width: 16em;
					height: 16em;
				}
				.local-image:not(.ingredient-image) {
					width: 2em;
					height: 2em;

					// since this image is 1em too big, we need to adjust to make it fit as if it wasn't
					margin: -1em 0.5ch;
				}
			}
		}
	}
}
</style>
