<template>
	<div class="local-image">
		<v-tooltip bottom eager>
			<template v-slot:activator="{ on }">
				<img :src="src" :alt="'Image of ' + name" v-on="on" />
			</template>
			<span v-text="title"></span>
		</v-tooltip>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

interface LocalImageIF {
	name: string;
	description?: string;
	localImage: string;
}

@Component
export default class LocalImage extends Vue {
	@Prop() readonly obj!: LocalImageIF;

	get name() {
		return this.obj.name;
	}
	get title() {
		return this.obj.name + (this.obj.description ? ' - ' + this.obj.description : '');
	}
	get src() {
		return process.env.BASE_URL + this.obj.localImage;
	}
}
</script>

<style scoped lang="scss">
// local-image is a wrapper class for positioning
.local-image {
	display: inline-block;

	// XXX all the images tend to be "wide" and not tall
	//  - so we can set the width to fill the space
	//  - but if images are taller than they are wide, then this will break
	//  - I don't know how to fix that (but I also don't have test data to check against)
	img {
		width: 100%;
		height: auto;
	}
}

// all of this is because I can't figure out how to properly vertical center the images
// `img { vertical-aligm: middle }` is supposed to work
.local-image {
	position: relative;

	img {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}
</style>
