<template>
	<v-container class="dishes" fluid>
		<div class="filter-box mb-8">
			<h2 class="headline">Filter</h2>

			<v-text-field label="Text (minus to exclude)" v-model="filters.text" clearable hide-details></v-text-field>

			<v-autocomplete
				label="Include"
				v-model="filters.with"
				:items="listOfAllTerms"
				auto-select-first
				return-object
				small-chips
				deletable-chips
				multiple
				clearable
				hide-details
			></v-autocomplete>

			<v-autocomplete
				label="Exclude"
				v-model="filters.without"
				:items="listOfAllTerms"
				return-object
				auto-select-first
				small-chips
				deletable-chips
				multiple
				clearable
				hide-details
			></v-autocomplete>
		</div>

		<div class="results-box">
			<h2 class="headline">Dishes</h2>

			<div class="results-size">
				<span v-if="filters.limited">
					<span v-text="pagedDishes.length"></span>
					of
				</span>
				<span v-text="filteredDishes.length"></span>
				<v-switch v-model="filters.limited" label="Limit Results" hide-details></v-switch>
			</div>

			<div class="results-list">
				<div
					class="recipe-card"
					v-for="dish in pagedDishes"
					:key="dish.name"
					v-on:click="selectDish(dish)"
					:class="{ active: selectedDish === dish }"
				>
					<div class="image"><LocalImage :obj="dish" /></div>
					<div class="content">
						<h3 class="name" v-text="dish.name"></h3>
						<div>
							{{ dish.method }}
							<span v-if="dish.method === 'Cooking'">| {{ dish.category }}</span>
						</div>
						<!-- <p v-text="dish.$text"></p> -->
					</div>
					<div class="generic" v-if="selectedDish === dish && (!!dish.generic || dish.examples.length > 1)">
						<h4 class="title">General Recipe</h4>
						<div v-if="dish.ingredients">
							<span class="ingredient" v-for="i in dish.ingredients" :key="i.name">
								<LocalImage :obj="i" />
							</span>
						</div>
						<div v-else>
							<div v-for="(g, idx) in dish.generic" :key="`g-${idx}`">
								<div v-text="g"></div>
								<div v-if="g.startsWith('Any ')">
									<span class="ingredient" v-for="i in anys[g]" :key="i.name">
										<LocalImage :obj="food[i]" />
									</span>
								</div>
								<div v-else class="ingredient"><LocalImage :obj="food[g]" /></div>
							</div>
						</div>
					</div>
					<div class="examples" v-if="selectedDish === dish && dish.examples.length">
						<h4 class="title" v-if="!!dish.generic || dish.examples.length > 1">Examples</h4>
						<h4 class="title" v-else>Recipe</h4>
						<div class="mb-4" v-for="(e, idx) in dish.examples" :key="`g-${idx}`">
							<div class="d-flex align-center justify-start">
								<strong v-text="e.name"></strong>
								<LocalImage class="effect" v-if="e.effect" :obj="e.effect" />
							</div>
							<div class="mb-2" v-if="e.notes" v-text="e.notes"></div>
							<span class="ingredient" v-for="(i, idx) in e.ingredients" :key="`i-${idx}`">
								<LocalImage :obj="i" />
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LocalImage from './LocalImage.vue';
import { dishes, effectsMap, foodMap, anys } from '../database';
import Dish from '../data-classes/Dish';
import { sortBy, sortedUniqBy } from 'lodash';

let listOfAllTerms: {
	text: string;
	term: string;
	type: string;
}[] = [];
Array.prototype.push.apply(
	listOfAllTerms,
	Object.keys(effectsMap).map(e => ({ term: e, type: 'Effect' })),
);
Array.prototype.push.apply(
	listOfAllTerms,
	Object.keys(foodMap).map(f => ({ term: f, type: 'Ingredient' })),
);
Array.prototype.push.apply(
	listOfAllTerms,
	dishes.map(d => d.category).map(c => ({ term: c, type: 'Category' })),
);
listOfAllTerms = sortedUniqBy(sortBy(listOfAllTerms, 'term'), 'term');
// don't use ones with proper ingredients names (no capitals)
// don't use the 'variety of four different' blah blah blah ones because they are just repeats of other simpler ones
listOfAllTerms = Object.keys(anys)
	.filter(k => /^Any [a-z ]+$/.test(k) && !/^Any variety of/.test(k))
	.map(k => ({ text: '', term: k, type: 'Generic' }))
	.concat(listOfAllTerms);
listOfAllTerms.forEach(t => {
	if (t.type !== 'Generic' && t.type !== 'Ingredient') {
		t.text = `${t.term} (${t.type})`;
	} else {
		t.text = t.term;
	}
});

function dishMatchesTerm(dish: Dish, { term, type }: { term: string; type: string }) {
	switch (type) {
		case 'Ingredient':
			return dish.$possibleIngredients.includes(term);
		case 'Generic':
			return anys[term].some(ingredient => dish.$possibleIngredients.includes(ingredient));
		case 'Category':
			return dish.category === term;
		case 'Effect':
			return dish.examples.some(e => e.effect && e.effect.name === term);
		default:
			// we should never get here
			// console.log(type, 'not implemented yet');
			return true;
	}
}

const filters: {
	text: string;
	with: {
		term: string;
		type: string;
	}[];
	without: {
		term: string;
		type: string;
	}[];
	limited: boolean;
} = {
	text: '',
	with: [],
	without: [],
	limited: true,
};

@Component({
	components: {
		LocalImage,
	},
})
export default class Recipes extends Vue {
	effects = effectsMap;
	food = foodMap;
	anys = anys;

	listOfAllTerms = listOfAllTerms;

	selectedDish: Dish | null = null;
	filters = filters;

	selectDish(dish: Dish) {
		if (this.selectedDish === dish) this.selectedDish = null;
		else this.selectedDish = dish;
	}

	get filteredDishes() {
		let list = dishes;

		if (this.filters.text) {
			this.filters.text.split(' ').forEach(t => {
				const match = /^(-|\+)?(.*)$/.exec(t);
				if (match && match[2]) {
					const neg = match[1] === '-';
					const term = match[2].toLowerCase();
					list = list.filter(dish => {
						const found = dish.$text.includes(term);
						return neg ? !found : found;
					});
				}
			});
		}

		if (this.filters.with.length) {
			this.filters.with.forEach(term => {
				list = list.filter(dish => {
					return dishMatchesTerm(dish, term);
				});
			});
		}

		if (this.filters.without.length) {
			this.filters.without.forEach(term => {
				list = list.filter(dish => {
					return !dishMatchesTerm(dish, term);
				});
			});
		}

		return list;
	}

	// REVIEW truncate data? this is for speed, but it's probably not something to keep long term
	get pagedDishes() {
		if (this.filters.limited) return this.filteredDishes.slice(0, 30);
		else return this.filteredDishes;
	}
}
</script>
<style scoped lang="scss">
$dividerColor: rgba(map-deep-get($material-dark, 'text', 'theme'), 0.3);

.filter-box {
	padding-right: 1ch;

	h2 {
		margin-bottom: -5px;
	}
}

.results-box {
	.results-size {
		.v-input.v-input--switch {
			display: inline-block;
			margin: 0 2ch;
		}
	}
}

// 2 columns of 40 characters (and some fluff for padding)
@media (min-width: 100ch) {
	.results-list {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.recipe-card.active {
			grid-column: 1 / 3;
		}
	}
}
// 3 columns of 40 characters (and some fluff for padding)
@media (min-width: 140ch) {
	.results-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.recipe-card.active {
			grid-column: 1 / 4;
		}
	}
}

.recipe-card {
	display: grid;
	grid-template-columns: min-content auto;
	grid-column-gap: 1ch;
	margin-bottom: 1em;
	border-radius: 0.5ch;
	cursor: pointer;
	padding: 0 1ch;

	&.active {
		background-color: rgba(map-get($blue, 'base'), 0.24); // tabs select hover color

		> .image .local-image {
			width: 6em;
			height: 6em;
		}
	}

	> .image {
		align-self: center;

		.local-image {
			width: 4em;
			height: 4em;
			margin: 0 1ch;
		}
	}

	> .content {
		padding-top: 0.5em;

		.name {
			width: 100%;
			border-bottom: 1px solid $dividerColor;
		}
	}

	> .generic,
	> .examples {
		grid-column: 1 / span 2;
		border-top: 1px solid $dividerColor;
		padding-left: 1ch;

		.ingredient .local-image {
			width: 4em;
			height: 4em;
			margin: 0 1ch;
		}

		.effect.local-image {
			width: 2em;
			height: 2em;

			// since this image is 1em too big, we need to adjust to make it fit as if it wasn't
			margin: -1em 0.5ch;
		}
	}
}
</style>
