<template>
	<v-container fluid class="text-center">
		<h2 class="headline">Effects</h2>

		<div class="effects">
			<div v-for="effect in effects" :key="effect.name">
				<h3><LocalImage :obj="effect" /></h3>
				<h3 v-text="effect.name"></h3>
				<div v-text="effect.description"></div>
			</div>
		</div>

		<h2 class="headline">Cooking Methods</h2>

		<div class="methods">
			<div>
				<h3>Cooking</h3>
				<div>
					Hold up to five ingredients and toss them into a lit cooking pot. Adding ingredients with the same effect can
					improve its potency and duration. If you try to combine two or more effects, the recipe will have none.
				</div>
			</div>
			<div>
				<h3>Roasting</h3>
				<div>
					Just let it catch fire (toss it near some fire, light it on fire with a weapon, or just drop it on the ground
					at the hottest parts of Death Mountain). After it's been on fire for a couple seconds, it'll turn into its
					baked version if it has one. Some ingredients cant be cooked this way; if the food is generating white smoke,
					it'll become baked, but anything with black smoke will disappear.
				</div>
			</div>
			<div>
				<h3>Freezing</h3>
				<div>
					Just drop it on the ground in snowy areas, into cold water, or by hitting something with an ice or weapon.
					Meat and Seafood food can be frozen, other food will be unaffected.
				</div>
			</div>
			<div>
				<h3>Boiling</h3>
				<div>
					This is a unique type of cooking. Drop a Bird Egg into a hot spring, it will make a Hard-Boiled Egg.
				</div>
			</div>
		</div>

		<h2 class="headline">Tips</h2>

		<div class="tips">
			<h3>Cooking Bonus</h3>
			<p>
				Occasionally, cooking results will be randomly improved, and a special jingle will play. Possible bonuses
				include +3 hearts, +1 potency, or +5:00 duration. If a bonus would not apply, another is chosen. If you see a
				result that is better than it ought to be, it is likely because of this. Cooking between 11:30 PM and 12:15 AM
				on a Blood Moon will guarantee a bonus. Cooking with either a dragon part or a star fragment will also guarantee
				a bonus.
			</p>
		</div>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import LocalImage from './LocalImage.vue';
import { effectsList } from '../database';

@Component({
	components: {
		LocalImage,
	},
})
export default class Reference extends Vue {
	effects = effectsList;
}
</script>

<style lang="scss">
h2 {
	margin-bottom: 1em;
	margin-top: 2em;

	&:first-child {
		margin-top: 0;
	}
}

.effects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2ch;
	grid-row-gap: 2em;

	.local-image {
		width: 2em;
		height: 2em;
	}
}

.methods {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2ch;
	grid-row-gap: 2em;
}

.tips {
	h3 {
		margin-top: 1em;
	}
}
</style>
