<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="<%= BASE_URL %>favicon.png">
	<title>BotW Recipes</title>
	<style>
		@font-face {
			font-family: "Calamity";
			src: url("<%= BASE_URL %>fonts/Calamity-Regular.woff") format("woff"),
			url("<%= BASE_URL %>fonts/Calamity-Regular.woff2") format("woff2");
		}
		@font-face {
			font-family: "Calamity";
			src: url("<%= BASE_URL %>fonts/Calamity-Bold.woff") format("woff"),
			url("<%= BASE_URL %>fonts/Calamity-Bold.woff2") format("woff2");
			font-weight: bold;
		}
		@font-face {
			font-family: "Hylia";
			src: url("<%= BASE_URL %>fonts/HyliaSerifBeta-Regular.otf");
		}
	</style>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
</head>
<body>
	<noscript>
		<strong>We're sorry but BotW Recipes doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id="app"></div>
	<!-- built files will be auto injected -->
</body>
</html>
