<template>
	<v-app>
		<v-content>
			<v-tabs v-model="tab" :grow="true">
				<v-tab class="heading">Recipes</v-tab>
				<v-tab class="heading">Food</v-tab>
				<v-tab class="heading">Reference</v-tab>
				<v-tab class="heading">Credits</v-tab>
			</v-tabs>

			<Recipes v-if="tab === 0" />
			<Food v-if="tab === 1" />
			<Reference v-if="tab === 2" />
			<Credits v-if="tab === 3" />
		</v-content>
	</v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Credits from './components/Credits.vue';
import Food from './components/Food.vue';
import Recipes from './components/Recipes.vue';
import Reference from './components/Reference.vue';

@Component({
	components: {
		Credits,
		Food,
		Recipes,
		Reference,
	},
	data: () => {
		return {
			tab: null,
		};
	},
})
export default class App extends Vue {}
</script>

<style lang="scss">
body {
	// OSX has elastic scrolling; with the dark theme, this will save your eyes
	// ~/vuetify/src/styles/settings/_dark.scss
	background-color: map-get($material-dark, 'background');
}
.heading {
	font-family: $heading-font-family;
}
</style>
